* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #030303;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: #6f6f6f;
  width: 280px;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 10px 25px rgb(135, 3, 3);
}

.card h2 {
  margin-bottom: 10px;
}

.price {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

ul {
  list-style: none;
  margin-bottom: 20px;
}

ul li {
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #222;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #444;
}
